# Week 2

1. Implement a PySpark script that applies transformations like filter and withColumn on a
DataFrame.

In [ ]:
import os 
import pyspark
from pyspark.sql import SparkSession,functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit

In [7]:
#Create Spark Session 
spark=SparkSession.builder.appName('dataframe_transforms').getOrCreate()
df=spark.read.csv('week2data.csv',header=True,inferSchema=True)
df.show()

#filter
df.filter(df["Roll"]>14).show()

#withColumn
df2=df.withColumn("Country",lit("USA"))
df2.show()

+----+--------+-------+------+
|roll|   name |country|marks |
+----+--------+-------+------+
|  57| saksham|    UAE|    12|
|  45|  arjun |    IND|    34|
|  40|rishabh |    BAN|    56|
|  14|  raman |    IND|    89|
|  36|  rishi |    USA|     1|
+----+--------+-------+------+

+----+--------+-------+------+
|roll|   name |country|marks |
+----+--------+-------+------+
|  57| saksham|    UAE|    12|
|  45|  arjun |    IND|    34|
|  40|rishabh |    BAN|    56|
|  36|  rishi |    USA|     1|
+----+--------+-------+------+

+----+--------+-------+------+
|roll|   name |Country|marks |
+----+--------+-------+------+
|  57| saksham|    USA|    12|
|  45|  arjun |    USA|    34|
|  40|rishabh |    USA|    56|
|  14|  raman |    USA|    89|
|  36|  rishi |    USA|     1|
+----+--------+-------+------+

2. Write a PySpark script that performs actions like count and show on a DataFrame.

In [5]:
print("The length of the dataframe is", df.count())
df_mod = df.filter(df.country.startswith('I'))
print('The number of entries with the name starting with "a" is: ' + str(df_mod.count()) + ' entries')
df_mod.show()

#Might give an error if the file does have whitespaces in the cell

The length of the dataframe is 5
The number of entries with the name starting with "a" is: 2 entries
+----+------+-------+------+
|roll| name |country|marks |
+----+------+-------+------+
|  45|arjun |    IND|    34|
|  14|raman |    IND|    89|
+----+------+-------+------+

3. Demonstrate how to perform basic aggregations (e.g., sum, average) on a PySpark DataFrame.

In [11]:
from pyspark.sql.functions import sum as sum1
from pyspark.sql.functions import avg 
from pyspark.sql.functions import max as max1

print("The maximum marks")
df.select(max1("Marks ")).show()
print("The average marks:")
df.select(avg("Marks ")).show()

The maximum marks
+-----------+
|max(Marks )|
+-----------+
|         89|
+-----------+

The average marks:
+-----------+
|avg(Marks )|
+-----------+
|       38.4|
+-----------+